<main class="main">
	<header class="header">
		<div class="header__inner">
			<img class="header__menu-btn" src="images/icon/menu.svg" alt="">
			<button class="header__update-btn">
				<img src="images/icon/headerupdate.png" alt="">
			</button>
			<h2 class="header__title">Dashboar</h2>
		</div>
		<div class="header__inner header__inner--bottom">
			<button type="button" class="header__open-btn"></button>
			<div class="header__dropdown">
				<div class="header__dropdown-btn">
					<img src="images/icon/chat.png" alt="">
					<p class="header__dropdown-text">5 user online</p>
					<img class="header__dropdown-arrow" src="images/icon/open.png" alt="">
				</div>
				<div class="header__dropdown-list">
					
				</div>
			</div>
		</div>
	</header>