<div class="content">
	<div class="content__header">
		<div class="tabs-caption">
	    	<div class="tabs-caption__item">
	    		<img class="tabs-caption__img" src="images/icon/tabicon1.png" alt="">
	    		<div class="tabs-caption-inner">
	    			<p class="tabs-caption__text">Active Projects</p>
	    			<p class="counter tabs-caption__counter">9</p>
	    		</div>
	    	</div>
	    	<div class="tabs-caption__item">
	    		<img class="tabs-caption__img" src="images/icon/tabicon2.png" alt="">
	    		<div class="tabs-caption-inner">
	    			<p class="tabs-caption__text">Messenger</p>
	    			<p class="counter tabs-caption__counter">2</p>
	    		</div>
	    	</div>
	   	</div>
 	  	<form class="search content__header-search">
   			<input class="search__input" type="search" name="search" placeholder="Search Project, User, Task, etc..."> 
   		</form>
  	</div>
	
	<div class="tabs-content-inner">
		<div class="tabs-content">
			<div class="tabs-content__item">
		
			    <div class="projects-header">
			    	<form class="search projects-header__search">
   						<input class="search__input" type="search" name="search" placeholder="Search a Project with Name, Task, User..."> 
   					</form>
   					<select class="projects-header__filter">
						<option class="projects-header__filter-option" value=''>
							New Projects (descending)
						</option>
						<option class="projects-header__filter-option" value=''>
							New Projects (ascending)
						</option>
						
					</select>
					<button class="projects-header__add" type="button">+</button>
					

			    </div>

			    <ul class="projects-list">
					<li  class="projects-list__item">
						<div class="projects-list__item-inner">
							<p class="projects-list__status projects-list__status--red">23%</p>
							<p class="projects-list__task">Create Contact Formular</p>
							<p class="projects-list__name">Worlda</p>
							<figure class="projects-list__search">
							<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
							</figure>
							<figure class="projects-list__more-icon">
								<img  src="images/icon/open.png" alt="">
							</figure>
						</div>
						<ul class="projects-list__more">
							<li class="projects-list__item-inner">
								<p class="projects-list__status">66%</p>
								<p class="projects-list__task">Creating the Context</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face1.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face3.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more projects-list__users-more--visible">+3</p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Today,</span>
									<span class="projects-list__update-text projects-list__update-time">13:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
							<li class="projects-list__item-inner">
								<p class="projects-list__status projects-list__status--ready">ready</p>
								<p class="projects-list__task projects-list__task--ready">Implementation in the Layout</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face2.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more"></p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Yestarday,</span>
									<span class="projects-list__update-text projects-list__update-time">12:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
						</ul>
					</li>
					
					<li  class="projects-list__item">
						<div class="projects-list__item-inner">
							<p class="projects-list__status projects-list__status--red">87%</p>
							<p class="projects-list__task">Create Subpage PSD</p>
							<p class="projects-list__name">Panorama</p>
							<figure class="projects-list__search">
							<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
							</figure>
							<figure class="projects-list__more-icon">
								<img  src="images/icon/open.png" alt="">
							</figure>
						</div>
						<ul class="projects-list__more">
							<li class="projects-list__item-inner">
								<p class="projects-list__status">66%</p>
								<p class="projects-list__task">Creating the Context</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face1.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face3.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more projects-list__users-more--visible">+3</p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Today,</span>
									<span class="projects-list__update-text projects-list__update-time">13:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
							<li class="projects-list__item-inner">
								<p class="projects-list__status projects-list__status--ready">ready</p>
								<p class="projects-list__task projects-list__task--ready">Implementation in the Layout</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face2.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more"></p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Yestarday,</span>
									<span class="projects-list__update-text projects-list__update-time">12:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
						</ul>
					</li>


					<li  class="projects-list__item">
						<div class="projects-list__item-inner">
							<p class="projects-list__status projects-list__status--red">83%</p>
							<p class="projects-list__task">Layout & implementation in HTML & CSS</p>
							<p class="projects-list__name">Ebay Relaunch</p>
							<figure class="projects-list__search">
							<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
							</figure>
							<figure class="projects-list__more-icon">
								<img  src="images/icon/open.png" alt="">
							</figure>
						</div>
						<ul class="projects-list__more">
							<li class="projects-list__item-inner">
								<p class="projects-list__status">66%</p>
								<p class="projects-list__task">Creating the Context</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face1.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face3.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more projects-list__users-more--visible">+3</p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Today,</span>
									<span class="projects-list__update-text projects-list__update-time">13:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
							<li class="projects-list__item-inner">
								<p class="projects-list__status projects-list__status--ready">ready</p>
								<p class="projects-list__task projects-list__task--ready">Implementation in the Layout</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face2.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more"></p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Yestarday,</span>
									<span class="projects-list__update-text projects-list__update-time">12:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
						</ul>
					</li>
					<li  class="projects-list__item">
						<div class="projects-list__item-inner">
							<p class="projects-list__status projects-list__status--red">23%</p>
							<p class="projects-list__task">Create Contact Formular</p>
							<p class="projects-list__name">Worlda</p>
							<figure class="projects-list__search">
							<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
							</figure>
							<figure class="projects-list__more-icon">
								<img  src="images/icon/open.png" alt="">
							</figure>
						</div>
						<ul class="projects-list__more">
							<li class="projects-list__item-inner">
								<p class="projects-list__status">66%</p>
								<p class="projects-list__task">Creating the Context</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face1.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face3.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more projects-list__users-more--visible">+3</p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Today,</span>
									<span class="projects-list__update-text projects-list__update-time">13:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
							<li class="projects-list__item-inner">
								<p class="projects-list__status projects-list__status--ready">ready</p>
								<p class="projects-list__task projects-list__task--ready">Implementation in the Layout</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face2.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more"></p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Yestarday,</span>
									<span class="projects-list__update-text projects-list__update-time">12:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
						</ul>
					</li>
					
					<li  class="projects-list__item">
						<div class="projects-list__item-inner">
							<p class="projects-list__status projects-list__status--red">87%</p>
							<p class="projects-list__task">Create Subpage PSD</p>
							<p class="projects-list__name">Panorama</p>
							<figure class="projects-list__search">
							<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
							</figure>
							<figure class="projects-list__more-icon">
								<img  src="images/icon/open.png" alt="">
							</figure>
						</div>
						<ul class="projects-list__more">
							<li class="projects-list__item-inner">
								<p class="projects-list__status">66%</p>
								<p class="projects-list__task">Creating the Context</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face1.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face3.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more projects-list__users-more--visible">+3</p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Today,</span>
									<span class="projects-list__update-text projects-list__update-time">13:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
							<li class="projects-list__item-inner">
								<p class="projects-list__status projects-list__status--ready">ready</p>
								<p class="projects-list__task projects-list__task--ready">Implementation in the Layout</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face2.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more"></p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Yestarday,</span>
									<span class="projects-list__update-text projects-list__update-time">12:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
						</ul>
					</li>


					<li  class="projects-list__item">
						<div class="projects-list__item-inner">
							<p class="projects-list__status projects-list__status--red">83%</p>
							<p class="projects-list__task">Layout & implementation in HTML & CSS</p>
							<p class="projects-list__name">Ebay Relaunch</p>
							<figure class="projects-list__search">
							<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
							</figure>
							<figure class="projects-list__more-icon">
								<img  src="images/icon/open.png" alt="">
							</figure>
						</div>
						<ul class="projects-list__more">
							<li class="projects-list__item-inner">
								<p class="projects-list__status">66%</p>
								<p class="projects-list__task">Creating the Context</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face1.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face3.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more projects-list__users-more--visible">+3</p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Today,</span>
									<span class="projects-list__update-text projects-list__update-time">13:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
							<li class="projects-list__item-inner">
								<p class="projects-list__status projects-list__status--ready">ready</p>
								<p class="projects-list__task projects-list__task--ready">Implementation in the Layout</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face2.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more"></p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Yestarday,</span>
									<span class="projects-list__update-text projects-list__update-time">12:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
						</ul>
					</li>
					<li  class="projects-list__item">
						<div class="projects-list__item-inner">
							<p class="projects-list__status projects-list__status--red">23%</p>
							<p class="projects-list__task">Create Contact Formular</p>
							<p class="projects-list__name">Worlda</p>
							<figure class="projects-list__search">
							<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
							</figure>
							<figure class="projects-list__more-icon">
								<img  src="images/icon/open.png" alt="">
							</figure>
						</div>
						<ul class="projects-list__more">
							<li class="projects-list__item-inner">
								<p class="projects-list__status">66%</p>
								<p class="projects-list__task">Creating the Context</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face1.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face3.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more projects-list__users-more--visible">+3</p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Today,</span>
									<span class="projects-list__update-text projects-list__update-time">13:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
							<li class="projects-list__item-inner">
								<p class="projects-list__status projects-list__status--ready">ready</p>
								<p class="projects-list__task projects-list__task--ready">Implementation in the Layout</p>
								<div class="projects-list__users">
									<div class="users-list__img-inner">
										<img src="images/pic/face2.png" alt="">
										<p class="users-list__status"></p>
									</div>
									<div class="users-list__img-inner">
										<img src="images/pic/face4.png" alt="">
										<p class="users-list__status users-list__status--online"></p>
									</div>
									<p class="projects-list__users-more"></p>
								</div>
								<button type="button" class="projects-list__update">
									<img class="projects-list__update-icon" src="images/icon/update.png" alt="">
									<span class="projects-list__update-text">Yestarday,</span>
									<span class="projects-list__update-text projects-list__update-time">12:40</span>
									<span class="projects-list__update-text">PM</span>
								</button>
								<figure class="projects-list__search">
									<img class="projects-list__search-icon" src="images/icon/search.svg" alt="">
								</figure>
							</li>
						</ul>
					</li>
				</ul>
			    <div class="archiv projects-archiv">
					<p class="archiv__text project-archiv__text">Project Archiv</p>
				</div>
			</div>
	 	 	<div class="tabs-content__item"></div>
		</div>

		