<aside class="nav">
	<div class="nav-top">
		<div class="nav__photo">
			<img src="images/pic/user.jpg" alt="">
			<p class="counter nav__counter counter--red">2</p>
		</div>
		<div class="nav__icon nav__icon--after nav__icon--active">
			<img class="nav__icon-img" src="images/icon/board.svg" alt="">
			<p class="nav__icon-text">Board</p>
		</div>
		<div class="nav__icon nav__icon--after">
			<img class="nav__icon-img" src="images/icon/menu.svg" alt="">
			<p class="counter nav__counter">9</p>
			<p class="nav__icon-text">Projects</p>
		</div>
		<div class="nav__icon nav__icon--after">
			<img class="nav__icon-img" src="images/icon/settings.svg" alt="">
			<p class="nav__icon-text">Settings</p>
		</div>
	</div>
	<div class="nav-bottom">
		<div class="nav__icon">
			<img class="nav__icon-img" src="images/icon/upgrade.svg" alt="">
			<p class="counter nav__counter counter--red">3</p>
			<p class="nav__icon-text">Upgrade</p>
		</div>
		<div class="nav__icon nav__icon--after nav__icon-logout">
			<img class="nav__icon-img" src="images/icon/logout.png" alt="">
			<p  class="nav__icon-text">Logout</p>
		</div>
	</div>
</aside>