<div class="users-list-inner">
		<ul class="users-list">
			<li class="users-list__item">
				<div class="users-list__img-inner">
					<img src="images/pic/face1.png" alt="">
					<p class="users-list__status users-list__status--online"></p>
				</div>
				<div class="users-list__info">
					<span class="users-list__text users-list__text--bold">Mark P.</span>
					<span class="users-list__text">add an Image into Worlda</span>
					<p class="users-list__date">Today, 10:30 PM</p>
				</div>
			</li>
			<li class="users-list__item">
				<div class="users-list__img-inner">
					<img src="images/pic/face2.png" alt="">
					<p class="users-list__status users-list__status--online"></p>
				</div>
				<div class="users-list__info">
					<span class="users-list__text users-list__text--bold">Marvin S.</span>
					<span class="users-list__text">add an Image into Worlda</span>
					<p class="users-list__date">Today, 10:30 PM</p>
				</div>
			</li>
			<li class="users-list__item">
				<div class="users-list__img-inner">
					<img src="images/pic/face3.png" alt="">
					<p class="users-list__status users-list__status--online"></p>
				</div>
				<div class="users-list__info">
					<span class="users-list__text users-list__text--bold">Sebastian K.</span>
					<span class="users-list__text">add an Image into Worlda</span>
					<p class="users-list__date">Today, 10:30 PM</p>
				</div>
			</li>
			<li class="users-list__item">
				<div class="users-list__img-inner">
					<img src="images/pic/face2.png" alt="">
					<p class="users-list__status"></p>
				</div>
				<div class="users-list__info">
					<span class="users-list__text users-list__text--bold">Sebastian K.</span>
					<span class="users-list__text">add an Image into Worlda</span>
					<p class="users-list__date">Today, 10:30 PM</p>
				</div>
			</li>
			<li class="users-list__item">
				<div class="users-list__img-inner">
					<img src="images/pic/face1.png" alt="">
					<p class="users-list__status"></p>
				</div>
				<div class="users-list__info">
					<span class="users-list__text users-list__text--bold">Marvin S.</span>
					<span class="users-list__text">add an Image into Worlda</span>
					<p class="users-list__date">Today, 10:30 PM</p>
				</div>
			</li>
			<li class="users-list__item">
				<div class="users-list__img-inner">
					<img src="images/pic/face1.png" alt="">
					<p class="users-list__status users-list__status--online"></p>
				</div>
				<div class="users-list__info">
					<span class="users-list__text users-list__text--bold">Mark P.</span>
					<span class="users-list__text">add an Image into Worlda</span>
					<p class="users-list__date">Today, 10:30 PM</p>
				</div>
			</li>
			<li class="users-list__item">
				<div class="users-list__img-inner">
					<img src="images/pic/face2.png" alt="">
					<p class="users-list__status"></p>
				</div>
				<div class="users-list__info">
					<span class="users-list__text users-list__text--bold">Marvin S.</span>
					<span class="users-list__text">add an Image into Worlda</span>
					<p class="users-list__date">Today, 10:30 PM</p>
				</div>
			</li>
			<li class="users-list__item">
				<div class="users-list__img-inner">
					<img src="images/pic/face1.png" alt="">
					<p class="users-list__status users-list__status--online"></p>
				</div>
				<div class="users-list__info">
					<span class="users-list__text users-list__text--bold">Mark P.</span>
					<span class="users-list__text">add an Image into Worlda</span>
					<p class="users-list__date">Today, 10:30 PM</p>
				</div>
			</li>
			
		</ul>
		<div class="archiv users-archiv">
			<p class="archiv__text users-archiv__text">Activity Archiv</p>
		</div>
		</div>
	</div>
</div>
</main>